/* *{
    margin: 0;
    padding: 0;
} */

#p1 {
    border: 15px;
    border-radius: 50%;

}


body {
    font: 16px Arial，'黑体';
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    /* background-image: url(../images/dls.jpeg); */
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(0, 0, 0);

}

html {
    /* font-size: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #00539F;
    background-size: 100%;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat; */
    
    background:#00539F url(../images/bg.jpg) no-repeat top left;
    background-size: 100% 100%;
    /* background-attachment: fixed; */

    /* background-position: top center; */
    /*兼容浏览器版本*/
    /* -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

#d1 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-indent: 2em;
    line-height: 2.5em;
}

* {
    /* color: #1E90FF; */
    font-family: Arial, Helvetica, sans-serif,
        cursive;

    text-align: center;
}

h1 {
    text-align: left;
    margin: 0;
    padding: 20px 0;
    color: #1E90FF;
    text-shadow: 3px 3px 1px #00539F;
}

.grey {
    color: #666;
}

.p1 {
    font-size: 10px;
    color: #666;

}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;

}

a:hover {
    color: red;
}

a:active {
    color: rgb(135, 206, 235);
}

input:focus {
    background-color: #75c1ff;
}


table {
    border-collapse: collapse;
}

td {
    border: black 1px solid;

}

th {
    border: black 1px solid;

}

#fly {
    position: fixed;
    top:100px;
    left:0px;
    width: 100px;
    height: 300px;
    background-color: skyblue;
    float: left;
}

textarea{
    resize: none;
}
input{
    outline: 0;
}
.test{
    vertical-align: top;
    background-color: #fff;
    height:30px;
    line-height: 30px;
    font-size: 10px;
}